<div class="col-md-8 col-md-offset-2 marginTop20"> 
    <h3 class="text-center">Saved Designs</h3>
    <hr>
    <p ng-repeat="savedProject in uc.savedProjects"> 
        {{ savedProject.projectName }} 
        <a role="button" class="btn btn-default" ng-href="/codefile/{{ savedProject.projectName }}">View</a> 
        <a role="button" class="btn btn-default" ng-href="/design/{{ savedProject.projectName }}">Edit</a>
    </p>
    <hr>
    <p class="text-center">
        <a role="button" class="btn btn-default" ng-href="/#/design">New Design</a>
    </p>
</div>
