.marginTop20 {
	margin-top: 20px;
}
ul {
	margin-bottom: 0 !important;
	margin-top: 5px !important;
}

.fullHeight {
	height: 100vh;
}

.asideContent {
	box-shadow: 3px 0px 6px #888888;
}

.header {
	text-transform: uppercase;
}

.marginTop5 {
	margin-top: 5px;
}

.icon {
	padding: 20px 0px 20px 5px;
}
.icon:hover {
	cursor: pointer;
}