.marginTop20 {
	margin-top: 20px;
}
ul {
	margin-bottom: 0 !important;
	margin-top: 5px !important;
}

.fullHeight {
	height: 100vh;
}

.asideContent {
	box-shadow: 3px 0px 6px #888888;
}

.header {
	text-transform: uppercase;
}

.marginTop5 {
	margin-top: 5px;
}

.icon {
	padding: 20px 0px 20px 5px;
}
.icon:hover {
	cursor: pointer;
}

.brand-logo {
	background-image: url('ncwlogo-black.svg');
	height: 192px;
  background-repeat: no-repeat;
}
.half {
	width: 49% !important;
}

.input-margin {
  margin-bottom: 8px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}